[%- WRAPPER 'layout.tt' title=l('Releases not credited to "Various Artists" but linked to VA') full_width=1 -%]

<h1>[% l('Relases not credited to "Various Artists" but linked to VA') %]</h1>

<ul>
    <li>[% l('This report shows releases linked to the Various Artists entity
              without "Various Artists" as the credited name.') %]</li>
    <li>[% l('Total releases found: {count}', { count => pager.total_entries }) %]</li>
    <li>[% l('Generated on {date}', { date => UserDate.format(generated) }) %]</li>
</ul>

[%- INCLUDE 'report/release_list.tt' -%]

[%- END -%]
